1.characters in list can be altered while in turple the can not be altered
2.integer string float
3.
4.it is the conversion of data types to different data type
5.functions are commands that give a code a specific task or function

In [2]:
import pymysql

In [3]:
mydb = pymysql.connect(
     host = 'localhost',
     user = 'root',
     password = '212004',
     database = 'studentmanagementsystem'
)
mycursor = mydb.cursor()

In [10]:
mycursor.execute('select count(age) as result from studentper')
for x in mycursor:
    print(x)

(247,)

In [6]:
mycursor.execute('select count(distinct age) as result from studentper')
for x in mycursor:
    print(x)

(6,)

In [7]:
mycursor.execute('select sum(js11st) as result from studentper')
for x in mycursor:
    print(x)

(Decimal('17127'),)

In [9]:
mycursor.execute('select Mjob,sum(js11st) as result from studentper group by Mjob')
for x in mycursor:
    print(x)

('OTHER', Decimal('3979'))
('at_home', Decimal('297'))
('TEACHER', Decimal('1948'))
('CIVIL SERVANT', Decimal('347'))
('ADMIN', Decimal('5523'))
('HEALTH', Decimal('2077'))
('POLICE', Decimal('433'))
('CRAFT', Decimal('689'))
('BUSINESS', Decimal('1285'))
('FARMER', Decimal('549'))

In [12]:
mycursor.execute('select age, count(age) as result from studentper')
for x in mycursor:
    print(x)

(13, 247)

In [14]:
mycursor.execute('select Mjob,avg(js11st) as result from studentper group by Mjob')
for x in mycursor:
    print(x)

('OTHER', Decimal('68.6034'))
('at_home', Decimal('74.2500'))
('TEACHER', Decimal('69.5714'))
('CIVIL SERVANT', Decimal('69.4000'))
('ADMIN', Decimal('69.9114'))
('HEALTH', Decimal('67.0000'))
('POLICE', Decimal('72.1667'))
('CRAFT', Decimal('68.9000'))
('BUSINESS', Decimal('71.3889'))
('FARMER', Decimal('68.6250'))

In [16]:
mycursor.execute('select avg(js11st) as result from studentper ')
for x in mycursor:
    print(x)

(Decimal('69.3401'),)

In [17]:
mycursor.execute('select min(js11st) as result from studentper ')
for x in mycursor:
    print(x)

(45,)

In [18]:
mycursor.execute('select max(js11st) as result from studentper ')
for x in mycursor:
    print(x)

(98,)

In [19]:
mycursor.execute('select * from studentper limit 1 ')
for x in mycursor:
    print(x)

('M', 13, 'RURAL', 'GT3', 'T', 1, 0, 'OTHER', 'OTHER', 'mother', 3, 2, 'no', 4, 'no', 1, 'yes', 'yes', 'no', 68, 69, 70, 71, 72, 69, 72, 70)

In [21]:
mycursor.execute('select * from studentper order by age desc limit 4 ')
for x in mycursor:
    print(x)

('M', 15, 'URBAN', 'LE3', 'A', 1, 0, 'OTHER', 'ADMIN', 'mother', 1, 0, 'no', 5, 'yes', 2, 'yes', 'no', 'no', 66, 76, 87, 82, 85, 69, 68, 81)
('M', 15, 'RURAL', 'GT3', 'A', 0, 0, 'OTHER', 'CLEANER', 'mother', 3, 1, 'yes', 5, 'no', 2, 'no', 'no', 'yes', 69, 75, 71, 74, 81, 78, 72, 78)
('M', 15, 'RURAL', 'GT3', 'A', 0, 0, 'OTHER', 'CLEANER', 'mother', 3, 1, 'no', 5, 'yes', 2, 'yes', 'no', 'yes', 70, 69, 68, 66, 62, 61, 68, 69)
('F', 15, 'URBAN', 'LE3', 'T', 3, 2, 'HEALTH', 'ADMIN', 'father', 2, 1, 'yes', 3, 'yes', 2, 'yes', 'no', 'yes', 71, 72, 73, 75, 71, 70, 69, 70)